/* Borders
 */
.border {
  background: #ffffff url("Jcrop.gif");
  font-size: 0;
  position: absolute;
  opacity: 0.4;
}
.border.ord-e, .border.ord-w {
  height: 100%;
  width: 1px;
}
.border.ord-w {
  right: 0;
}
.border.ord-n, .border.ord-s {
  height: 1px;
  width: 100%;
}
.border.ord-s {
  bottom: 0;
}
/* tracker is the layer that capture mouse events inside the frame
 */
.tracker {
  position: absolute;
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
  cursor: move;
}
/* Selection Handles
 */
.handle {
  position:absolute;
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}
.handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}
.handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}
.handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}
.handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}
.handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}
.handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}

/* handleR is the handle that will catch
 * event related to rotation
 */
.handleRotation {
  position: absolute;
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
  margin-left: -4px;
  margin-top: -4px;
  left: 50%;
  top: -25px;
  cursor: url(../images/rotate.png) 12 12, auto;
}

/* Dragbars
 */
.dragbar {
  position: absolute;
}
.dragbar.ord-n,
.dragbar.ord-s {
  height: 7px;
  width: 100%;
}
.dragbar.ord-e,
.dragbar.ord-w {
  height: 100%;
  width: 7px;
}
.dragbar.ord-n {
  margin-top: -4px;
}
.dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}
.dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}
.dragbar.ord-w {
  margin-left: -4px;
}
/* handlerContainer
 */
.handlerContainer {
  width: 100%;
  height: 100%;
  bottom: 0px;
  position: absolute;
  display: block;
}

.content {
  border: none;
  visibility: visible;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
}

.displayContainer {
  width: 100%; height: 100%; position: absolute; overflow: hidden; bottom:0px;
}

.rotateContainer {
  width: 100%; height: 100%; position: absolute;
}

.zonard {
  position: absolute;
/*  width: 256px;
  height: 175px;
  top: 116px;
  left: 166px;*/
}

.clone {
  position: absolute;
  overflow: hidden;
}
