$margin: -4px

$prefix: 'zonard-'

@mixin user-select($val)
  -webkit-user-select: $val
  -moz-user-select: $val
  user-select: $val

.zonard
  position: absolute
  /* Borders
   */
  .#{$prefix}border
    position: absolute
    background: #ffffff url("images/border.gif")
    font-size: 0
    opacity: 0.4

    &.ord-e, &.ord-w
      height: 100%
      width: 1px

    &.ord-w
      right: 0

    &.ord-n, &.ord-s
      height: 1px
      width: 100%

    &.ord-s
      bottom: 0

  /* tracker is the layer that capture mouse events inside the frame
   */
  .#{$prefix}tracker
    position: absolute
    height: 100%
    width: 100%
    /* "turn off" link highlight */
    -webkit-tap-highlight-color: transparent
    /* disable callout, image save panel */
    -webkit-touch-callout: none
    /* disable cut copy paste */
    +user-select(none)
    cursor: move

    /* CAUTION:  if an element doesn't have some properties
     * as for example a background-color, IE9 will put it
     * below other element even if they are appended after
     * in the dom!!!!
     * we set a transparent background color to avoid the issue
    /*
    background-color: rgba(0,0,0,0)
  /* Selection Handles
   */
  .#{$prefix}handle
    position: absolute
    background-color: #333333
    border: 1px #eeeeee solid
    width: 7px
    height: 7px
    font-size: 1px

    &.ord-n
      left: 50%
      margin-left: $margin
      margin-top: $margin
      top: 0

    &.ord-s
      bottom: 0
      left: 50%
      margin-bottom: $margin
      margin-left: $margin

    &.ord-e
      margin-right: $margin
      margin-top: $margin
      right: 0
      top: 50%

    &.ord-w
      left: 0
      margin-left: $margin
      margin-top: $margin
      top: 50%

    &.ord-nw
      left: 0
      margin-left: $margin
      margin-top: $margin
      top: 0

    &.ord-ne
      margin-right: $margin
      margin-top: $margin
      right: 0
      top: 0

    &.ord-se
      bottom: 0
      margin-bottom: $margin
      margin-right: $margin
      right: 0

    &.ord-sw
      bottom: 0
      left: 0
      margin-bottom: $margin
      margin-left: $margin

    &.central
      left: 50%
      top: 50%
      margin-left: $margin
      margin-top: $margin

  /* handleR is the handle that will catch
   * event related to rotation
   */
  .#{$prefix}handleRotation
    position: absolute
    background-color: #333333
    border: 1px #eeeeee solid
    width: 7px
    height: 7px
    font-size: 1px
    margin-left: $margin
    margin-top: $margin
    left: 50%
    top: -25px
    cursor: url(images/rotate.png) 12 12, auto


  /* Dragbars
   */
  .#{$prefix}dragbar
    position: absolute

    &.ord-n,
    &.ord-s
      height: 7px
      width: 100%

    &.ord-e,
    &.ord-w
      height: 100%
      width: 7px

    &.ord-n
      margin-top: $margin

    &.ord-s
      bottom: 0
      margin-bottom: $margin

    &.ord-e
      margin-right: $margin
      right: 0

    &.ord-w
      margin-left: $margin

  /* handlerContainer
   */
  .#{$prefix}handlerContainer
    width: 100%
    height: 100%
    bottom: 0
    position: absolute
    display: block

  .#{$prefix}content
    border: none
    visibility: visible
    margin: 0
    padding: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    +user-select(none)

  .#{$prefix}displayContainer
    width: 100%
    height: 100%
    position: absolute
    overflow: hidden
    bottom: 0

  .#{$prefix}rotateContainer
    width: 100%
    height: 100%
    position: absolute
